<!-- Footer -->
<link rel="stylesheet" href="styles.css">

<body>
    <div class="main-content">
      <!-- Todo el contenido de tu página va aquí -->
    </div>
    <footer class="footer">
      <div class="container">
        ©️ 2024 InspireIQ. Todos los derechos reservados.
      </div>
    </footer>
  </body>