<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- Contenedor 1: Logo y Brand -->
        <div class="brand-container">
            <img src="https://i.ibb.co/q5M3fqY/Logo-white.png" alt="InspireIQ Logo" class="logo" />
            <a class="navbar-brand" href="/">InspireIQ</a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Contenedor 2: Barra de búsqueda -->
            <div class="search-container">
                <input type="text" class="form-control search-bar" placeholder="Buscar cursos gratuitos" />
                <a href="/course" class="search-icon-link" data-requires-auth="true">
                    <span class="material-icons search-icon">search</span>
                </a>
            </div>

            <!-- Contenedor 3: Botones de navegación -->
            <div class="nav-buttons">
                <ul class="navbar-nav">
                    <% if (!userId) { %>
                        <li class="nav-item">
                            <button class="btn-signup">
                                <a class="nav-link-btn" data-bs-toggle="modal" data-bs-target="#signupModal">Registrarse</a>
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="btn-login">
                                <a class="nav-link-btn" data-bs-toggle="modal" data-bs-target="#signinModal">Iniciar Sesión</a>
                            </button>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/course" data-requires-auth="true">Cursos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile" data-requires-auth="true">Perfil</a>
                        </li>
                        <% if (userRole === 'teacher') { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/create_course" data-requires-auth="true">Crear Curso</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/my_courses" data-requires-auth="true">Mis Cursos</a>
                            </li>
                        <% } %>
                        <li class="nav-item">
                            <button class="btn-logout" style="display: flex; align-items: center;">
                                <a class="nav-link-cerrar" href="/logout" style="display: flex; align-items: center;">
                                  <span class="material-icons">exit_to_app</span>
                                </a>
                            </button>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</nav>
